#aboutUsSection {
    padding-top: 8rem;
}

.aboutUsSection-left {
    margin-left: 7rem;
}

.tempatImageAboutUs {
    padding-left: 20%;
    padding-right: 20%;
}

.image-aboutUs {
    width: 100%;
}
.penjelasanSection-aboutUs {
    width: 60%;
}

/* its responsive time  */
@media only screen and (max-width: 1400px) {
    .penjelasanSection-aboutUs {
        width: 70%;
    }
    .tempatImageAboutUs {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .penjelasanSection-aboutUs {
        width: 80%;
    }
    .tempatImageAboutUs {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media only screen and (max-width: 1100px) {
    .penjelasanSection-aboutUs {
        width: 80%;
    }
    .tempatImageAboutUs {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 992px) {
    .tempatImageAboutUs {
        padding-left: 15%;
        padding-right: 15%;
    }
    .aboutUsSection-left {
        margin-left: 0rem;
    }
    .penjelasanSection-aboutUs {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .tempatImageAboutUs {
        padding-left: 25%;
        padding-right: 25%;
    }
    .container-penjelasan {
        padding-left: 10%;
        padding-right: 10%;
    }
    .aboutUsSection-right {
        text-align: center;
        padding-top: 2rem;
    }
    .penjelasanSection-aboutUs {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .tempatImageAboutUs {
        padding-left: 15%;
        padding-right: 15%;
    }
    .judulSection-aboutUs {
        font-size: 20px;
    }
    .tagLineSection-aboutUs {
        font-size: 24px;
    }
    .container-penjelasan {
        padding-left: 3%;
        padding-right: 3%;
    }
    .penjelasanSection-aboutUs {
        font-size: 15px;
    }
}

@media only screen and (max-width: 412px) {
    .tempatImageAboutUs {
        padding-left: 11%;
        padding-right: 11%;
    }
    .aboutUsSection-right {
        text-align: center;
        padding-top: 1.5rem;
    }
}
/* end of its responsive time  */
