@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family: 'Poppins', sans-serif;  */

.contentButton {
    height: 50px;
    width: 200px;
    background-color: pink;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
}

.contentButton:hover {
    background-color: rgb(248, 162, 177);
}

.judulSection{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #ec008c;
}

.tagLineSection{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.penjelasanSection{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}