@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* font-family: 'Poppins', sans-serif;  */

#digitalSignature {
    height: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 14px;
    color: rgb(90, 88, 88);
}

/* its responsive time  */
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
    #digitalSignature {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}

/* end of its responsive time  */
